html(lang="en")
    head
        title landing Page
    body
        h1 "The future hme"
        p "Thundercats cornhole williamsburg quinoa. Man bun umami godard shoreditch. Blue bottle fap hammock polaroid. Ramps letterpress la croix bespoke, bitters roof party normcore. "
    